$font-family: "Rubik", sans-serif;
.chatScreen {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .chatHeader {
    height: 10vh;
    background-color: rgb(0, 3, 44);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    h1 {
      margin: 5px 0;
      font-size: 1.2em;
      font-family: $font-family;
      font-weight: 400;
    }
  }
  .chatsContainer {
    height: 69vh;
    padding: 3vh 4vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    .chatMessagesLeft {
      background-color: whitesmoke;
      width: fit-content;
      margin: 8px 0;
      overflow-wrap: break-word;
      max-width: 50%;
      padding: 10px 20px;
      border-radius: 50px;
      border-top-left-radius: 0;
    }
    .chatMessagesRight {
      align-self: flex-end;
      background-color: rgb(0, 102, 255);
      color: white;
      width: fit-content;
      margin: 8px 0;
      overflow-wrap: break-word;
      max-width: 50%;
      padding: 10px 20px;
      border-radius: 50px;
      border-top-right-radius: 0;
    }
  }
  .sendMessage {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid lightgrey;
    height: calc(15vh - 1px);
    .sendMessageTextArea {
      width: 85%;
      margin: 10px 15px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 1.05em;
      font-family: $font-family;
      font-weight: 300;
      resize: none;
    }
    .sendMessageButton {
      background-color: rgb(255, 36, 72);
      color: white;
      font-size: 1em;
      justify-items: end;
      margin: 15px 15px 15px 5px;
      padding: 15px 18px;
      border: none;
      border-radius: 50px;
      font-family: $font-family;
      cursor: pointer;
      transition: 0.4s ease;
    }
    .sendMessageButton:hover {
      background-color: rgb(255, 0, 43);
    }
  }
}
