.contactList {
  .contact {
    padding: 20px 30px;
    background-color: whitesmoke;
    display: flex;
    cursor: pointer;
    svg {
      background-color: white;
      color: skyblue;
      border-radius: 50px;
      padding: 15px;
    }
    .contactInfo {
      padding-left: 30px;

      .contactName {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0;
        padding-bottom: 10px;
      }
      .contactPhone {
        font-size: 1em;
        font-weight: 300;
        margin: 0;
      }
    }
    border-bottom: 1px solid rgb(224, 224, 224);
  }
  .contact:last-of-type {
    border-bottom: none;
  }
  .contact:hover {
    background-color: paleturquoise;
  }
}
